
.para, .p1 {
    font-family: 'YourCustomFont', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}


@media (max-width: 768px) {
    .para, .p1 {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .para, .p1 {
        font-size: 14px;
    }
}
