body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #87CEFA; /* Light blue background color */
    color: black; /* Font color is black */
  }
  
  .wrapper {
    min-height: 100%;
  }
  
  .content {
    background-color: rgba(192, 192, 192, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  